html, body {
	margin: 0;
	padding: 0;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
}  

.wrapper {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

header {
}

footer {
	margin: $spacing-two 0 0;
	padding: $spacing-two 0 0;
	border-top: 4px solid;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

a {
	color: $brand-link-color;
}

a:hover,
a:focus,
a:active {
	color: $brand-link-hover;
}

.theme-links,
.cookie-message,
.content-links,
.content-container {
	padding: 0 $spacing-two;
}

.social-links {
	padding: 0 $spacing-two $spacing-two;
}

.content-container {
	margin: $spacing-two 0 0;
}

.cookie-message {
	float: right;
}

.cookie-message p {
	margin: 0;
}

.cookie-message,
.nav-themes {
	padding-top: $spacing-base;
	padding-bottom: $spacing-base;
}

.nav-themes {
	float: left;
}

.nav-content {
	padding: $spacing-two 0;
	clear: both;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 0;
}


/* ===============
Smaller Devices
================== */

@media (max-width: $middle-breakpoint) { 

	.wrapper {
		margin: 0 5%;
		width: 90%;
	}
	
}

@media (max-width: $mobile-breakpoint) { 

	.cookie-message {
		display: inline-block;
		float: none;
	}
}


/* ===============
Font icon stuff
================== */

@font-face {
  font-family: 'peryite';
  src: url('../font/peryite.eot?4461486');
  src: url('../font/peryite.eot?4461486#iefix') format('embedded-opentype'),
       url('../font/peryite.woff2?4461486') format('woff2'),
       url('../font/peryite.woff?4461486') format('woff'),
       url('../font/peryite.ttf?4461486') format('truetype'),
       url('../font/peryite.svg?4461486#peryite') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "peryite";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-cog:before { content: '\e800'; } 
.icon-twitter:before { content: '\f099'; } 
.icon-linkedin:before { content: '\f0e1'; } 
.icon-circle-empty:before { content: '\f10c'; } 
.icon-circle:before { content: '\f111'; } 
.icon-github:before { content: '\f113'; } 
.icon-gamepad:before { content: '\f11b'; } 
.icon-html5:before { content: '\f13b'; } 
.icon-stackoverflow:before { content: '\f16c'; } 
.icon-bitbucket:before { content: '\f171'; } 
.icon-apple:before { content: '\f179'; } 
.icon-android:before { content: '\f17b'; } 
.icon-stackexchange:before { content: '\f18d'; } 
.icon-slack:before { content: '\f198'; } 
.icon-jsfiddle:before { content: '\f1cc'; } 


/* ===============
Backup colours
================== */

a,
.content-links li a,
footer ul li a,
.theme-links li a {
    color: $brand-link-color;
}

a:hover,
a:focus,
a:active,  
.content-links li a:hover,
.content-links li a:focus, 
.content-links li a:active,
footer ul li a:hover,   
footer ul li a:focus,  
footer ul li a:active,
.theme-links li a:hover,
.theme-links li a:focus,
.theme-links li a:active {
    color: $brand-link-hover;  
}

.content-links li {
    background-color: $brand-link-color;
	@include transition(background-color .25s ease-in);  
}

.content-links li:hover,
.content-links li:focus,
.content-links li:active {
	background-color: $brand-link-hover;
}

.content-links li a {
	color: lighten($brand-link-hover, 30%);
	@include transition(color .25s ease-in);
}

.content-links li:hover a,
.content-links li:focus a,
.content-links li:active a { 
	color: $base-white;
}