
.content-links li {
	margin: 0 $spacing-base;
	padding: $spacing-base 0;
	background-color: $brand-link-color;
	@include transition(background-color .25s ease-in);  
}

.content-links li:hover,
.content-links li:focus,
.content-links li:active {
	background-color: $brand-link-hover;
}

.content-links li a {
	margin: 0;
	padding: $spacing-base $spacing-three;
	font-size: $font-size-base;
	text-decoration: none;
	color: lighten($brand-link-hover, 30%);
	@include transition(color .25s ease-in);
}

.content-links li:hover a,
.content-links li:focus a,
.content-links li:active a {
	color: white;
}

/* ===============
Smaller Devices
================== */  

@media (max-width: $middle-breakpoint) { 
	
}

@media (max-width: $mobile-breakpoint) { 
	
	.content-links li {
		margin: $spacing-two 0 0;
		width: 100%;	
	}
	
	.content-links li:first-child {
		margin: 0;
	}
	
	.content-links li a {
		padding: $spacing-base 33.75%;
	}
}