
.content-links li {
	margin: 0 $spacing-base;
	padding: $spacing-base 0;
}

.content-links li a {
	margin: 0;
	padding: $spacing-base $spacing-three;
	font-size: $font-size-base;
	text-decoration: none;
}

/* ===============
Smaller Devices
================== */  

@media (max-width: $middle-breakpoint) { 
	
}

@media (max-width: $mobile-breakpoint) { 
	
	.content-links li {
		margin: $spacing-two 0 0;
		width: 100%;	
	}
	
	.content-links li:first-child {
		margin: 0;
	}
	
	.content-links li a {
		padding: $spacing-base 33.75%;
	}
}