
.theme-links,
.theme-links li {
	float: left;
	font-size: 0;
}

.theme-links li a {
	@include border-radius(100%);
	text-decoration: none;
	font-size: 0;
	width: 100%;
	color: $brand-link-color;
    @include transition(color .25s ease-in); 
}

.theme-links li a:hover,
.theme-links li a:focus,
.theme-links li a:active {
	color: $brand-link-hover;
}

.theme-links li a:before {
	font-family: 'peryite';
    font-size: $font-size-base + ($font-size-base / 2);
    margin-left: $font-size-base;
    @extend .icon-circle;
}

.theme-links li:first-child a:before {
    margin-left: 0;
}

.theme-links li a.active:before {
	 @extend .icon-dot-circled;
}
