
/* Theme #1 */

a,
.content-links li a,
footer ul li a,
.theme-links li a {
    color: green;
}

a:hover,
a:focus,
a:active,
.content-links li a:hover,
.content-links li a:focus, 
.content-links li a:active,
footer ul li a: hover, 
footer ul li a: focus,
footer ul li a: active,
.theme-links li a:hover,
.theme-links li a:focus,
.theme-links li a:active {
    color: purple;
}
