
/* THEME #1 */

$font-family-sans-serif:  	sans-serif;
$font-size-base: 			16px; 					        /* rough equivalent of 12pt */
$font-size-heading:			$font-size-base * 2; 	/* rough equivalent of 24pt */


$base-white: 			#fff;
$base-black: 			#000; 
$brand-link-color:  red;
$brand-link-hover:  pink;
  

@mixin transition($args...) {
	-webkit-transition: $args;
  	-moz-transition: $args;
  	-ms-transition: $args;
  	-o-transition: $args;
  	transition: $args;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
}

@mixin flexbox() {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: row;
  	-ms-flex-direction: row;
  	flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

@mixin flexbox-child() {
 	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}